@import "globals";
@import "variables";

/* Main */

html {
  height: 100vh;
}

body {
  font-family: "Karla", sans-serif;
  text-align: center;
  background-color: white;

  h1 {
    margin-block: 5px;
    color: $black;
    font-size: 80px;
    font-weight: 400;
  }
  
  h2 {
    margin-block: 5px;
    color: $primary-dark;
    font-size: 48px;
    font-weight: 400;
  }

  p {
    font-size: 40px;
    letter-spacing: 0.5px;
  }
}

.wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding-inline: 6em;
  height: 90vh;
  }
  
.home-text {
  position: relative;
  margin-block: 80px;
}

.projects-button {
  padding-block: 25px;
  padding-inline: 100px;
  color: $white;
  font-size: 40px;
  letter-spacing: 1px;
  background-color: $primary-dark;
  border: 1px solid $primary-dark;
  border-radius: 6px;
}

.tags-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-block: 6em;
  padding-inline: 100px;
}

.tags-item {
  padding-inline: 2em;
  color: $tag-color;
  background: $tag-background;
  border-radius: 12px;

  p {
    margin-block: 0.8em;
    font-size: 38px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {

  /* Utilities */
  .col-80-pc {
    width: 80%;
  }

  /* Main */

  body {
    text-align: left;

    h1 {
      margin-block: 18px;
      font-size: 62px;
      letter-spacing: 0.5px;
    }
    
    h2 {
      font-size: 32px;
      letter-spacing: 0.5px;
    }
  
    p {
      font-size: 20px;
    }
  }

  .wrapper {
    margin-inline: 125px;
  }

  .wrapper-item {
    display: flex;
    gap: 50px;
  }

  .home-text {
    margin-block: 46px;
  }

  .projects-button {
    margin-block: 20px;
    padding-block: 12px;
    padding-inline: 50px;
    font-size: 22px;
  }

  .tags-wrapper {
    position: relative;
    gap: 1.2em 15px;
    margin-block: 2em;
    padding: 0;
    justify-content: start;
    max-width: 600px;
  }
  
  .tags-item {
    padding-block: 15px;
    padding-inline: 20px;
    color: $tag-color;
    background: $tag-background;
    border-radius: 12px;
  
    p {
      margin-block: 0;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
  }
}